<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JNV Ambedkar Nagar/forgot password</title>
    {{>link}}

<body>
    <header>
        {{>header}}
        <!-- <div> <a class="start_login" href="Login.html">Login</a></div> -->
    </header>
    <main>
        <div class="forgot_container">
            <div class="forgot_center">
                <h3>Trouble Logging In?</h3>
                <hr style="margin: 10px 0;">
                <p>Enter your email and we'll send you a link to get back into your account.</p>
                <div class="forgot_password_email">
                    <input type="email" id="forgot_password_email_id" placeholder="Enter your E-mail">
                </div>
                <div class="forgot_password_link_button">
                    <input type="submit">
                </div>
            </div>
        </div>
    </main>
    {{>footer}}
</body>

</html>