<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JNV Ambedkar Nagar/New Password</title>
    {{>link}}
</head>

<body>
    <header>
        {{>header}}
        <!-- <div> <a class="start_login" href="Login.html">Login</a></div> -->
    </header>
    <main>
        <div class="New_password_container">
            <div class="New_password_center">
                <h3>Create New Password</h3>
                <hr style="margin: 5px 0;">
                <p>We'll ask for this password whenever you sign in. </p>
                <form action="/newPassword" method="post">
                    <div class="New_password">
                        <p>Enter New Password.</p>
                        <input type="password" id="New_password_1" placeholder="New Password" name="newPass1">

                    </div>
                    <div class="New_password">
                        <p>Re Enter New Password.</p>
                        <input type="password" id="New_password_2" placeholder="Enter Again" name="newPass2">
                    </div>
                    <div class="New_password_submit_button">
                        <input type="submit">
                    </div>
                </form>
            </div>
        </div>
    </main>
    {{>footer}}
</body>

</html>