<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JNV Ambedkar Nagar/study Material</title>
    {{>link}}
</head>

<body>
    <header>
        {{>header}}
        <div> <a class="start_login" href="login">Login</a></div>
    </header>
    <main>
        <div class="study_main_container">
            <div class="study_content">
                <div class="class6 , class">
                </div>
                <div class="class7 , class">
                    <p</p>
                </div>
                <div class="class8 , class">
                    <p</p>
                </div>
            </div>
            <div class="study_content">
                <div class="class9 , class">
                    <p</p>
                </div>
                <div class="class10 , class">
                    <p></p>
                </div>
                <div class="class11 , class">
                    <p></p>
                </div>
            </div>
            <div class="study_content">
                <div class="class12 , class">
                    <p></p>
                </div>
                <div class="JEE , class">
                    <p></p>
                </div>
                <div class="NEET , class">
                    <p></p>
                </div>
            </div>
        </div>
    </main>
    {{>footer}}
</body>

</html>